<!DOCTYPE html>
<html>
<head>
    {{> headers }}
</head>

<body>
    <div class="container-fluid full-height">
        <div class="row full-height ">
            <div class="col-xs-12 col-sm-3 pull-right full-height no-pad user">
                <div class="col-xs-12 dark_blue center social-media-bar">
                    <a href="#" class="facebook col-xs-3" data-toggle="tooltip" data-placement="bottom" title="Facebook">
                        <h3><i class="fa fa-facebook"></i></h3>
                    </a>
                    <a href="#" class="twitter col-xs-3"data-toggle="tooltip" data-placement="bottom" title="Twitter">
                        <h3><i class="fa fa-twitter"></i></h3>
                    </a>
                    <a href="#" class="linkedin col-xs-3" data-toggle="tooltip" data-placement="bottom" title="LinkedIn">
                        <h3><i class="fa fa-linkedin"></i></h3>
                    </a>
                    <a href="#" class="github col-xs-3" data-toggle="tooltip" data-placement="bottom" title="Github">
                        <h3><i class="fa fa-github"></i></h3>
                    </a>
                </div>
                <div class="col-xs-12 dark_blue center name">
                    <h4 class="col-xs-12 text-right">Timothy Ferrell</h4>
                    <div class="subheader col-xs-12 text-right">CS Student USU</div>
                </div>
                <div class="col-xs-12 no-pad pro-img">
                    <img src="/img/me.jpg" class="img-responsive"/>
                </div>
                <div class="col-xs-12 about no-pad">
                    <div class="overflow-scroll col-xs-12">
                        <div class="col-xs-12 underline">
                            <h3 class="text-right">About</h3>
                        </div>
                        <div class="col-xs-12">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eget sapien a tortor hendrerit tincidunt. Nam convallis porta turpis, quis eleifend libero commodo ac. Integer hendrerit imperdiet hendrerit. Etiam at volutpat leo. Aliquam convallis varius nibh, vitae tempus mauris imperdiet ac. Aliquam scelerisque vulputate ex vitae pharetra. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed efficitur odio et tincidunt tempor. Nullam eget justo ac enim convallis egestas vel non eros. Nullam rutrum elementum nisi, id eleifend sem. Nulla id malesuada eros. Ut sed tortor quis est venenatis commodo. Pellentesque lacinia felis at elementum iaculis.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-9 pull-left full-height bg-white no-pad body-container">
                <div class="col-xs-12 navbar navbar-my-fixed no-pad">
                    <nav class="navbar navbar-default">
                        <div class="container-fluid">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a class="navbar-brand hidden-sm hidden-md hidden-lg" href="#">Timothy Ferrell</a>
                            </div>

                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav">
                                    <li><a href="#welcome">Welcome</a></li>
                                    <li><a href="#education">Education</a></li>
                                    <li><a href="#work-experience">Work/Experience</a></li>
                                    <li><a href="#skills">Skills</a></li>
                                    <li><a href="#portfolio">Portfolio</a></li>
                                    <li><a href="#contact">Contact</a></li>
                                </ul>
                            </div><!-- /.navbar-collapse -->
                        </div><!-- /.container-fluid -->
                    </nav>
                </div>
                <div class="col-xs-12 full-height main-body no-pad">
                    <div id="welcome" class="col-xs-12 full-height mission-statement">
                        <div class="statement col-sm-6 col-xs-10 col-sm-offset-3 col-xs-offset-1">
                            <h3 class="text-center no-pad intro">My Name Is</h3>
                            <h1 class="text-center no-pad name">Timothy Ferrell</h1>
                            <h3 class="text-center no-pad phrase">I love code, and all things Geek!</h3>
                        </div>
                    </div>
                    <div id="education" class="col-xs-12 bg-white segment">
                        <div class="seg-icon img-circle bg-white drop-shadow col-xs-2 col-sm-1 no-pad font-lblue">
                            <h2 class="text-center"><i class="fa fa-graduation-cap"></i></h2>
                        </div>
                        <div class="seg-title font-lblue">
                            <h3>Education</h3>
                        </div>
                        <div class="col-xs-12">
                            <table class="table table-responsive myTable">
                                <tr>
                                    <th class="col-sm-1 col-xs-2"></th>
                                    <th class="col-sm-4 text-center">School</th>
                                    <th class="col-sm-4 text-center">Area of Study</th>
                                    <th class="col-sm-3 text-center">Dates</th>
                                </tr>
                                <tr>
                                    <td>
                                        <img src="/img/ustate.png" class="img img-responsive img-circle"/>
                                    </td>
                                    <td>
                                        University of Utah
                                    </td>
                                    <td>
                                        Computer Science
                                    </td>
                                    <td>
                                        2014 - Present
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <img src="/img/ustate.png" class="img img-responsive img-circle"/>
                                    </td>
                                    <td>
                                        University of Utah
                                    </td>
                                    <td>
                                        Computer Science
                                    </td>
                                    <td>
                                        2014 - Present
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <img src="/img/ustate.png" class="img img-responsive img-circle"/>
                                    </td>
                                    <td>
                                        University of Utah
                                    </td>
                                    <td>
                                        Computer Science
                                    </td>
                                    <td>
                                        2014 - Present
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div id="work-experience" class="col-xs-12 bg-lgrey segment">
                        <div class="seg-icon img-circle bg-white drop-shadow col-xs-2 col-sm-1 no-pad font-lgreen">
                            <h2 class="text-center"><i class="fa fa-building"></i></h2>
                        </div>
                        <div class="seg-title font-lgreen">
                            <h3>Work / Experience</h3>
                        </div>
                        <div class="col-xs-12">
                            <table class="table table-responsive myTable">
                                <tr>
                                    <th class="col-sm-1 col-xs-2"></th>
                                    <th class="col-sm-4 text-center">Buisness</th>
                                    <th class="col-sm-4 text-center">Position</th>
                                    <th class="col-sm-3 text-center">Dates</th>
                                </tr>
                                <tr>
                                    <td>
                                        <img src="/img/ustate.png" class="img img-responsive img-circle"/>
                                    </td>
                                    <td>
                                        University of Utah
                                    </td>
                                    <td>
                                        Computer Science
                                    </td>
                                    <td>
                                        2014 - Present
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <img src="/img/ustate.png" class="img img-responsive img-circle"/>
                                    </td>
                                    <td>
                                        University of Utah
                                    </td>
                                    <td>
                                        Computer Science
                                    </td>
                                    <td>
                                        2014 - Present
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <img src="/img/ustate.png" class="img img-responsive img-circle"/>
                                    </td>
                                    <td>
                                        University of Utah
                                    </td>
                                    <td>
                                        Computer Science
                                    </td>
                                    <td>
                                        2014 - Present
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div id="skills" class="col-xs-12 bg-white segment">
                        <div class="seg-icon img-circle bg-white drop-shadow col-xs-2 col-sm-1 no-pad font-loragne">
                            <h2 class="text-center"><i class="fa fa-user"></i></h2>
                        </div>
                        <div class="seg-title font-loragne">
                            <h3>Skills</h3>
                        </div>
                        <div class="col-xs-12">
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 tile ">
                                    <div class="col-xs-12 well">
                                        <div class="col-xs-4">
                                            <img src="/img/jslogo.png" class="img img-responsive img-circle"/>
                                        </div>
                                        <div class="col-xs-8">
                                            <div clas="col-xs-12">
                                                <h3 class="">Javascript</h3>
                                            </div>
                                            <div class="col-xs-12">
                                                <div class="progress">
                                                    <div class="progress-bar progress-bar-success" style="width: 60%"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 tile ">
                                    <div class="col-xs-12 well">
                                        <div class="col-xs-4">
                                            <img src="/img/jslogo.png" class="img img-responsive img-circle"/>
                                        </div>
                                        <div class="col-xs-8">
                                            <div clas="col-xs-12">
                                                <h3 class="">Javascript</h3>
                                            </div>
                                            <div class="col-xs-12">
                                                <div class="progress">
                                                    <div class="progress-bar progress-bar-success" style="width: 60%"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 tile ">
                                    <div class="col-xs-12 well">
                                        <div class="col-xs-4">
                                            <img src="/img/jslogo.png" class="img img-responsive img-circle"/>
                                        </div>
                                        <div class="col-xs-8">
                                            <div clas="col-xs-12">
                                                <h3 class="">Javascript</h3>
                                            </div>
                                            <div class="col-xs-12">
                                                <div class="progress">
                                                    <div class="progress-bar progress-bar-success" style="width: 60%"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 tile ">
                                    <div class="col-xs-12 well">
                                        <div class="col-xs-4">
                                            <img src="/img/jslogo.png" class="img img-responsive img-circle"/>
                                        </div>
                                        <div class="col-xs-8">
                                            <div clas="col-xs-12">
                                                <h3 class="">Javascript</h3>
                                            </div>
                                            <div class="col-xs-12">
                                                <div class="progress">
                                                    <div class="progress-bar progress-bar-success" style="width: 60%"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="portfolio" class="col-xs-12 bg-lgrey segment">
                        <div class="seg-icon img-circle bg-white drop-shadow col-xs-2 col-sm-1 no-pad font-lgreen">
                            <h2 class="text-center"><i class="fa fa-building"></i></h2>
                        </div>
                        <div class="seg-title font-lgreen">
                            <h3>Portfolio</h3>
                        </div>
                        <div class="col-xs-12">
                            <div class="col-xs-12 col-sm-4 mycard">
                                <div class="col-xs-12 well no-pad">
                                    <div class="col-xs-12 no-pad">
                                        <img src="/img/job.png" class="img-responsive"/>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="col-xs-12 underline">
                                            <h3 class="text-center">SCV Lobbyist</h3>
                                        </div>
                                        <div class="col-xs-12">
                                            <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eget sapien a tortor hendrerit tincidunt. Nam convallis porta turpis, quis eleifend libero commodo ac. Integer hendrerit imperdiet hendrerit.</p>
                                        </div>
                                        <div class="col-xs-12">
                                            <a href="#" class="btn btn-raised btn-primary col-xs-12">View</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 mycard">
                                <div class="col-xs-12 well no-pad">
                                    <div class="col-xs-12 no-pad">
                                        <img src="/img/job.png" class="img-responsive"/>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="col-xs-12 underline">
                                            <h3 class="text-center">SCV Lobbyist</h3>
                                        </div>
                                        <div class="col-xs-12">
                                            <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eget sapien a tortor hendrerit tincidunt. Nam convallis porta turpis, quis eleifend libero commodo ac. Integer hendrerit imperdiet hendrerit.</p>
                                        </div>
                                        <div class="col-xs-12">
                                            <a href="#" class="btn btn-raised btn-primary col-xs-12">View</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 mycard">
                                <div class="col-xs-12 well no-pad">
                                    <div class="col-xs-12 no-pad">
                                        <img src="/img/job.png" class="img-responsive"/>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="col-xs-12 underline">
                                            <h3 class="text-center">SCV Lobbyist</h3>
                                        </div>
                                        <div class="col-xs-12">
                                            <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eget sapien a tortor hendrerit tincidunt. Nam convallis porta turpis, quis eleifend libero commodo ac. Integer hendrerit imperdiet hendrerit.</p>
                                        </div>
                                        <div class="col-xs-12">
                                            <a href="#" class="btn btn-raised btn-primary col-xs-12">View</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="contact" class="col-xs-12 bg-white segment">
                        <div class="seg-icon img-circle bg-white drop-shadow col-xs-2 col-sm-1 no-pad font-lpink">
                            <h2 class="text-center"><i class="fa fa-envelope"></i></h2>
                        </div>
                        <div class="seg-title font-lpink">
                            <h3>Contact Me</h3>
                        </div>
                        <div class="col-xs-12">
                            <div class="col-sm-4 col-xs-12">
                                Feel free to contact me using the form to the left. I will do my best to respond to any query's
                                within the next 24 hours.
                            </div>
                            <div class="col-sm-8 col-xs-12">
                                <form class="form-horizontal">
                                    <div class="form-group">
                                        <label for="email" class="col-sm-2 control-label">Email</label>
                                        <div class="col-sm-10">
                                            <input type="email" class="form-control" id="email" placeholder="Email">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="subject" class="col-sm-2 control-label">Subject</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" id="subject" placeholder="Subject">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="text" class="col-sm-2 control-label">Body</label>
                                        <div class="col-sm-10">
                                            <textarea rows="6" class="form-control"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <div class="col-sm-3 pull-right clearfix">
                                                <button class="btn btn-raised btn-info text-center col-xs-12">Send</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 dark_blue">
                        <div class="row">
                            <div class="col-xs-12 copyright">
                                <div class="text-center text-small"><i class="fa fa-creative-commons"></i> Created By Timothy Ferrell 2016</div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    {{> modal }}
    {{> scripts }}
</body>
</html>